<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - German Engineered - Jack Schaible's Profile</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '716280791770981',
                xfbml      : true,
                version    : 'v2.0'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="http://hub.loginradius.com/include/js/LoginRadius.js"></script>
    <script type="text/javascript"> var options = {}; options.login = true; LoginRadius_SocialLogin.util.ready(function () { $ui = LoginRadius_SocialLogin.lr_login_settings; $ui.interfacesize = ""; $ui.apikey = "71f2528b-1129-46be-b359-e8d09ed8e112"; $ui.callback = ""; $ui.lrinterfacecontainer = "interfacecontainerdiv"; LoginRadius_SocialLogin.init(options); }); </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JackSchaible.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("A Brief History of Me", "ABHOM", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Languages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Overview", "Index", "Languages")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("C#", "CS", "Languages")</li>
                            <li>@Html.ActionLink("Database", "DB", "Languages")</li>
                            <li>@Html.ActionLink("Other Web", "Web", "Languages")</li>
                            <li>@Html.ActionLink("All Other", "Other", "Languages")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Overview", "Index", "Projects")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("For Web", "Web", "Projects")</li>
                            <li>@Html.ActionLink("For Windows", "Windows", "Projects")</li>
                            <li>@Html.ActionLink("Games", "Games", "Projects")</li>
                            <li>@Html.ActionLink("For School", "School", "Projects")</li>
                            <li>@Html.ActionLink("Etc...", "Other", "Projects")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">

        @RenderBody()

        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Logic &amp; Design</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
