@model Portfolio.Models.LRModels.LRLogin
@{
    ViewBag.Title = "Callback";
}

<h2>Callback</h2>
@Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
<hr />

@using (Html.BeginForm("Register", "LR", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Sign Up<br /><small>Please review the following information from @Model.Provider to ensure accuracy, then submit to complete your registration!</small></legend>


        <div class="clearfix">
            <div class="col-lg-3 col-lg-offset-2">
                <p></p>
            </div>
        </div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @*First Name*@
        <div class="form-group">
            <label class="col-lg-2 control-label">First Name</label>

            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>

        @*Last Name*@
        <div class="form-group">
            <label class="col-lg-2 control-label">Last Name</label>

            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>

        @*Full Name*@
        <div class="form-group">
            <label class="col-lg-2 control-label">Full Name</label>

            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
            </div>
        </div>

        @*Email*@
        <div class="form-group">
            <label class="col-lg-2 control-label">Email</label>

            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        @*DOB*@
        <div class="form-group">
            <label class="col-lg-2 control-label">D.O.B.</label>

            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.DOB, new { @class = "form-control" })
            </div>
        </div>

        @*City*@
        <div class="form-group">
            <label class="col-lg-2 control-label">City</label>

            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>
        </div>

        @*Country*@
        <div class="form-group">
            <label class="col-lg-2 control-label">Country</label>

            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
            </div>
        </div>

        @*Provider*@
        <div class="form-group">
            <label class="col-lg-2 control-label">Provider Name</label>

            <div class="col-lg-10">
                <span class="text-info">@Model.Provider</span>
                @Html.HiddenFor(m => m.Provider)
            </div>
        </div>

        @*Submit*@
        <div class="form-group">
            <div class="clearfix">
                <div class="col-lg-3 col-g-offset-2">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit" />
                </div>
            </div>
        </div>
    </fieldset>
}